<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Microtwitter</title>
  <style>
    .navbar {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      padding: 5px 0px 15px 0px;
      text-align: center;
    }

    .head-link {
      flex: 1;
    }
  </style>
</head>

<body>
  <div class="navbar">
    <div class="head-link">
      <a href="/">My microtwitter</a>
    </div>
    <div class="head-link">
      <a href="/last_posts">Last Posts</a>
    </div>
    <div class="head-link">
      <a href="/login">Login</a>
    </div>
  </div>
  <div>
    <div th:switch="${err}">
      <div th:case="'login_password_or_login_empty'">
        Login or password can't be empty! <br>
      </div>
      <div th:case="'login_no_such_user'">
        User with this login doesn't exist! <br>
      </div>
      <div th:case="'login_wrong_password'">
        Wrong password! <br>
      </div>
    </div>
    <form name="login" method="post" action="/login">
      Login: <input name="login">
      <br> <br>
      Password: <input name="password">
      <br><br>
      <input type="submit" value="Login">
    </form>
    <br>
    <div th:switch="${err}">
      <div th:case="'register_password_or_login_empty'">
        Login or password can't be empty! <br>
      </div>
      <div th:case="'register_passwords_not_equal'">
        Passwords doesn't equal! <br>
      </div>
      <div th:case="'register_user_already_exist'">
        User with this login already exists! <br>
      </div>
    </div>
    <form name="register" method="post" action="/register">
      Login: <input name="login">
      <br> <br>
      Password: <input name="password">
      <br><br>
      Password again: <input name="password_again">
      <br><br>
      <input type="submit" value="Register">
    </form>
  </div>
</body>

</html>